#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.s ease-in;
    color: white;
}
#hero h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0 0 10px black;
}

#hero p {
  font-size: 22px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px black;
}

#shopBtn {
  padding: 12px 25px;
  background: white;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#shopBtn:hover {
  background: rgb(230, 230, 230);
}